<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Rejestracja</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Wpisz adres e-mail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Imię</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Wpisz imię">                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSurrName" class="col-lg-2 control-label">Nazwisko</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputSurrName" placeholder="Wpisz nazwisko">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Wpisz hasło">                       
                    </div>
                </div>                                        
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Oddział</label>
                    <div class="col-lg-10" ng-controller="registerController">
                        <select id="filter-sector" class="form-control">
                            <option value=""></option>
                            <option ng-repeat="dp in deps" value="{{dp.DepartmentId}}">{{dp.Name}}</option>
                        </select>            
                        <br>                      
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-primary">Zatwierdź</button>
                    </div>
                </div>
            </fieldset>
        </form>
       
    </div>
</div>