<div ng-show="Flg">
    {{Msg}}
</div>


<div>
    <div layout="row" layout-align="space-around">
        <md-card flex="flex" flex-gt-sm="66" flex-gt-md="40">
            <img style="width: 100%; height: 150px;" class="md-card-image" alt="login" src="Views/Common/Login/img/login.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Rejestracja</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="Form">
                    <div layout="row">

                        <md-input-container class="md-block" flex="100">
                            <label>Imię</label>
                            <input type="text" name="name" ng-model="Reg.Name" required />

                        </md-input-container>


                        <md-input-container class="md-block" flex="100">
                            <label>Nazwisko</label>
                            <input type="text" name="surName" ng-model="Reg.SurName" required />

                        </md-input-container>

                    </div>

                    <div layout="row">

                        <md-input-container class="md-block" flex="100">
                            <label>Hasło</label>
                            <input type="text" name="passwd" ng-model="Reg.Pass" required />

                        </md-input-container>


                        <md-input-container class="md-block" flex="100">
                            <label>Powtórz hasło</label>
                            <input type="text" name="rePasswd" ng-model="" />
       
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block" flex="100">
                        <label>E-mail</label>
                        <input type="text" name="email" ng-model="Reg.Email" required />

                    </md-input-container>

                    <md-input-conteiner class="md-block" flex="100">

                        <md-select placeholder="Wybierz oddział" ng-model="Reg.DepartmentRefId">
                            <md-option ng-repeat="dp in deps" value="{{dp.DepartmentId}}">
                                {{dp.Name}}
                            </md-option>
                        </md-select>
                    </md-input-conteiner>

                    <md-button ng-click="CreateUsers(Reg)" layout="row">
                        <md-icon>done</md-icon>
                        <label style="margin: 5px 0 0 10px;">Zarejestruj się</label>
                    </md-button>

                    <label style="width: 100%; text-align: right;">
                        <label style="float: right;"> Chcesz się <a href="#login">zalogować?</a></label>
                    </label>
                </form>
            </md-card-content>
        </md-card>

    </div>
</div>