<div class="well">
    <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
</div>
<div class="col-xs-12 col-md-4">
    <select id="filter-sector" class="form-control">
        <option value=""></option>
        <option ng-repeat="dp in deps" value="{{dp.DepartmentId}}">{{dp.Name}}</option>
    </select>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lista oddziałów</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th ng-click="Sort('AnnouncementId')">ID</th>
                    <th ng-click="Sort('StartPlace')">StartPlace</th>
                    <th ng-click="Sort('FreeSlots')">FreeSlots</th>
                    <th>Akcje</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="an in anns | filter:search | orderBy:key:AscOrDesc">
                    <td>{{ an.AnnouncementId }}</td>
                    <td>{{an.StartPlace}}</td>
                    <td>{{an.FreeSlots}}</td>  
                    <td class="text-center"><a href="#announcementDetail" class="label" style="color: black; background: lightblue; padding: 5px 15px; float: left;">Szczegóły</a></td>
                </tr>
                </tbody>


            <!--<tr ng-repeat="dp in deps | filter:search | orderBy:key:AscOrDesc">
                <td>{{ dp.DepartmentId }}</td>
                <td>{{dp.Name}}</td>
                <td>{{dp.Adress}}</td>
                <td class="text-center"><a href="#" class="label" style="color: black; background: lightblue; padding: 5px 15px; float: left;">Szczegóły</a></td>
            </tr>-->
        </table>
    </div>
</div>
