body {
   /* max-width: 1200px;*/
    font-family: 'Advent Pro', sans-serif;
    position: relative;
}

.color {
    background: #6CA3F9;
}

.mapka {
    width: 100%;
    height: 350px;
    border-radius: 80px;
}

.top__map {
    border-radius: 80px;
}

.top{
    font-size: 18px;
    padding: 20px 30px;
}


.top__text{
    width: 100%;
    padding: 10px 20px;
    float: left;

}

.top__light{
    float: left;
    padding-right: 20px;
}

.top__bold {
    font-weight: 700;
}




.top__title {
    font-size: 60px;
    font-weight: 700;
    padding: 40px 20px 20px 20px;
    font-family: 'Advent Pro', sans-serif;
    position: relative;
}

    .top__title::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 15px;
        width: 15%;
        left: 30px;
        border-top: 5px solid #47DCFA;
    }
.add{
    margin-top: 10px;
    float: right;
    width: 100%;
    padding: 40px 80px;
}

.add__icon{
    width: 100px;
    float: right;
    margin: 0 40px;
}

.add__img{
    width: 100%;
}

.add__plus {
    float: right;
    font-size: 40px;
    font-weight: 700;
    padding: 0 20px;
    border: 5px solid #DCE9FE;
    border-radius: 50%;
    transition: transform 1s, border 1s;
    cursor: pointer
}

    .add__plus:hover {
        transform: scale(1.2);
        border: 5px solid #47DCFA;
        animation: border-grey 2s infinite;
    }

.add__btn{
    float: left;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px 40px 0 0;
    background: white;
    font-weight: 700;
}

.edit {
    border: 5px solid #DCE9FE;
    border-radius: 50px;
    transition: transform 1s, border 1s;
    cursor: pointer
}

    .edit:hover {
        color: gray;
        transform: scale(1.2);
        border: 5px solid #47DCFA;
        animation: border-grey 2s infinite;
    }


.delete {
    border: 5px solid #ECE4E5;
    border-radius: 50px;
    transition: transform 1s, border 1s;
    cursor: pointer
}

    .delete:hover {
        color: gray;
        transform: scale(1.2);
        border: 5px solid #FED7DC;
        animation: border-red 2s infinite;
    }
@keyframes border-red {
    0% {
        border: 5px solid #DCE9FE;
        opacity: 0.4;
    }

    25% {
        border: 5px solid #FED7DC;
        opacity: 1;
    }

    50% {
        border: 5px solid #DCE9FE;
        opacity: 0.4;
    }

    75% {
        border: 5px solid #FED7DC;
        opacity: 1;
    }

    100% {
        border: 5px solid #DCE9FE;
        opacity: 0.4;
    }
}


@keyframes border-grey {
    0% {
        border: 5px solid #47DCFA;
        opacity: 1;
    }

    25% {
        border: 5px solid #DCE9FE;
        opacity: 0.4;
    }

    50% {
        border: 5px solid #47DCFA;
        opacity: 1;
    }

    75% {
        border: 5px solid #DCE9FE;
        opacity: 0.4;
    }

    100% {
        border: 5px solid #47DCFA;
        opacity: 1;
    }
}


.icons {
    float: right;
}
.buttons {
    margin: 180px 0 0 30px;
    float: none;
}

.ann__btn {
    color: black;
    font-weight: 700;
    border: 1px solid #A5CAFD;
    padding: 5px 15px;
    background: white;
    text-decoration: none;
    transition: color 0.5s, background 1s;
}

.ann__btn:hover {
    color: #A5CAFD;
    background: black;
}

th {
    cursor: pointer;
}

.add__form{
    position: relative;
}

.new__carpet{
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.add__slide{
    display: none;
    margin-bottom: 30px;
}



.nav__link{
    color: black;
    cursor: pointer;
}

.nav__item {
    margin: 10px 0 0 10px;
}

.nav__menuIcon{
    margin-top: 20px;

}