
<div class="login">
    <div class="login__card" layout="row" layout-align="space-around">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <img style="width: 100%;" class="md-card-image" alt="login" src="Views/Common/Login/img/login.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Logowanie</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input type="text" name="email" ng-model="vm.formData.email" required="" />
                        <div ng-messages="Form.email.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Podaj swój email</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Hasło</label>
                        <input type="text" name="passwd" ng-model="" required="" />
                        <div ng-messages="Form.passwd.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Podaj swoje hasło</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>

    </div>
</div>