
    <div layout="row" layout-align="space-around">
        <md-card flex="flex" flex-gt-sm="30" flex-gt-md="30">
            <img style="width: 100%; height: 150px;" class="md-card-image" alt="login" src="Views/Common/Login/img/login.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Logowanie</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="FormLogin" novalidate>
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input type="text" ng-model="Usr.Email" name="Email" id="inputEmail" required />
                        <ul>
                            <li style="color: red;" ng-if="FormLogin.$submitted && FormLogin.Email.$error.required">Imię jest wymagane</li>
                        </ul>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Hasło</label>
                        <input type="password" ng-model="Usr.Pass" name="Pass" ng-pattern="re" class="form-control" id="inputPassword" required />
                        <ul>
                            <li style="color: red;" ng-if="FormLogin.$submitted && FormLogin.Pass.$error.required">Imię jest wymagane</li>
                        </ul>
                    </md-input-container>

                    <md-button layout="row" type="submit" ng-click="Login(Usr,loginForm.$valid)" value="SignIn">
                        <md-icon>done</md-icon>
                        Zaloguj się
                    </md-button>

                    <label  style="width: 100%; text-align: right;">
                        <label style="float: right;"> Chcesz się <a href="#register">zarejestrować?</a></label>
                    </label>
                </form>
            </md-card-content>
        </md-card>

    </div>
