<div layout="column">

    <md-content layout="row" class="md-padding">

        <md-card flex="100">
            
            <md-card-title layout="row">
                <md-card-title-text layout="column" flex="100">
                    <span class="top__title">Szczegóły ogłoszenia</span>
                    <span style="font-size: 24px;" class="md-subhead">Numer ogloszenia : {{ anns.AnnouncementId }}</span>
                    <span style="font-size: 24px;" class="md-subhead">Autor ogloszenia : {{ usrs.Name }} {{usrs.SurName}}</span>
                    <span style="font-size: 24px;" class="md-subhead">Email autora : {{ anns.AutorRefUser }}</span>
                    <span style="font-size: 24px;" class="md-subhead">Numer oddziału : {{ anns.DepartmentRefId }}</span>
                    <span style="font-size: 24px;" class="md-subhead">Miejsce startowe : {{ anns.StartPlace }}</span>
                    <span style="font-size: 24px;" class="md-subhead">Będę jechał do : {{ anns.EndPlace }}</span>
                    <span style="font-size: 24px;" class="md-subhead">Wolne miejsca : {{ anns.FreeSlots }}</span>
                </md-card-title-text>
                    <iframe style="height: 100%;" layout="column" flex="100" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d18864.52285835237!2d20.460370288336375!3d53.770523824474324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46e2792d071419c7%3A0x106a8126cf54c20f!2sOlsztyn!3m2!1d53.778422!2d20.4801193!4m5!1s0x46e27f375ab76763%3A0xf2ae572fd310f8fc!2sKortowo%2C+Olsztyn!3m2!1d53.755314999999996!2d20.4561325!5e0!3m2!1spl!2spl!4v1492019715231" frameborder="0" style="border:0" allowfullscreen></iframe>            <md-card-title>
        
            </md-card-title>
            <md-card-actions layout="row" layout-aligin="end center">
                <md-button style="font-family:'Times New Roman', Times, serif; font-weight: 400; letter-spacing:1px;">Jadę</md-button>
                
            </md-card-actions>


        </md-card>

    </md-content>

    <md-content md-whiteframe="3" layout="row" >
        <div layout="column" flex="100">
                <md-button style="width: 80px; height: 50px; cursor: pointer;">
                    <a href="#announcement">

                        <md-icon>close</md-icon>
                        <label style="margin-top: 10px;">wróć</label>
                    </a>
                 </md-button>



        </div>
        <div class="md-padding " layout="column" flex="100">
            <div layout="row">
                <a href="#announcement" layout="column" flex="100">
                    <img md-whiteframe="6" class="detail__avatar" style="height: 80px; width: 80px;"  alt="login" src="Views/AnnouncementDetail/src/avatar1.jpg" />
                </a>
                <a href="#announcement" layout="column" flex="100">
                    <img md-whiteframe="6" class="detail__avatar" style="height: 80px; width: 80px;"  alt="login" src="Views/AnnouncementDetail/src/avatar2.png" />
                </a>
                <a href="#announcement" layout="column" flex="100">
                    <img md-whiteframe="6" class="detail__avatar" style="height: 80px; width: 80px;"  alt="login" src="Views/AnnouncementDetail/src/avatar3.jpg" />
                </a>
                </div>



        </div>
    </md-content>

</div>