<div class="well">
    <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Lista oddziałów</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th ng-click="Sort('DepartmentId')">ID</th>
                    <th ng-click="Sort('Name')">Nazwa</th>
                    <th ng-click="Sort('Adress')">Adres</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dp in deps | filter:search | orderBy:key:AscOrDesc">
                    <td>{{dp.DepartmentId}}</td>
                    <td>{{dp.Name}}</td>
                    <td>{{dp.Adress}}</td>                   
                </tr>
                </tbody>
            </table>

    </div>
</div>









<div class="well">
    <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Lista oddziałów</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th ng-click="Sort('AnnouncementId')">ID Ogłoszenia</th>
                    <th ng-click="Sort('StartPlace')">Miejsce startowe</th>
                    <th ng-click="Sort('EndPlace')">Miejsce końcowe</th>
                    <th ng-click="Sort('FreeSlots')">Ilość Miejsc</th>
                    <th class="text-right">Dodatkowe</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="an in anns | filter:search | orderBy:key:AscOrDesc">
                    <td>{{ an.AnnouncementId }}</td>
                    <td>{{an.StartPlace}}</td>
                    <td>{{an.EndPlace}}</td>
                    <td>{{an.FreeSlots}}</td>
                    <td class="text-right"><a href="#announcementDetail/{{ an.AnnouncementId }}" class="ann__btn">Szczegóły</a></td>
                </tr>
            </tbody>


            <!--<tr ng-repeat="dp in deps | filter:search | orderBy:key:AscOrDesc">
                <td>{{ dp.DepartmentId }}</td>
                <td>{{dp.Name}}</td>
                <td>{{dp.Adress}}</td>
                <td class="text-center"><a href="#" class="label" style="color: black; background: lightblue; padding: 5px 15px; float: left;">Szczegóły</a></td>
            </tr>-->
        </table>
    </div>
</div>
