<div layout="row">

    <md-card flex-xs flex-gt-xs="30">
        <img style="width: 100%; height: 150px;" src="Views/Common/Home/src/home.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Dodaj nowe ogłoszenie</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Jedziesz samochodem? Powiedz nam kiedy się wybierasz, a znajdziemy Ci kogoś fajnego
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

            <md-button class="md-icon-button" aria-label="add_circle_outline">
                <md-icon>add_circle_outline</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>


    <md-card flex-xs flex-gt-xs="30">
        <img style="width: 100%; height: 150px;" src="Views/Common/Home/src/billennium.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Najnowsze ogłoszenia</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Przejdź do ogłoszeń dodanych ostatnio w serwisie
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a href="#announcement">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon><i class="material-icons">subdirectory_arrow_right</i></md-icon>
                </md-button>
            </a>
        </md-card-actions>
    </md-card>



    <md-card flex-xs flex-gt-xs="30">
        <img style="width: 100%; height: 150px;" src="Views/Common/Home/src/road.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Twoje ogłoszenia</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Chcesz coś zmienić w swoim ogłoszeniu ?
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon>border_color</md-icon>
            </md-button>

        </md-card-actions>
    </md-card>

</div>

<div layout="row">

    <md-card flex-xs flex-gt-xs="30">
        <img style="width: 100%; height: 150px;" src="Views/Common/Home/src/login.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Twój profil</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
               Zmieniłeś stan cywilny, email, imię, planujesz imprezę ?
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon><i class="material-icons">assignment_ind</i></md-icon>
            </md-button>

        </md-card-actions>
    </md-card>


</div>
