<md-card layout="column" flex="100" layout-align="space-around">

    <div class="well" layout="row" flex="100">
        <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
    </div>
    <md-card-content>
        <div class="alert-success" id="alert" ng-show="Flg">
            {{Msg}}
        </div>
    </md-card-content>



        <form name="createDepartmentForm" novalidate>
            <md-card-content>
                <span class="md-headline">Dodaj urlop :</span>
                <md-icon style="float: right; text-align: right;" class="przycisk" ng-click="zwin()">keyboard_arrow_down</md-icon>
            </md-card-content>

            <md-card-content class="zwin  ">
                <div layout="row" layout-align="space-around md-whiteframe-6dp">
                    <md-card flex="100">
                        <md-card-title >
                            <md-card-title-text>
                                <span class="md-headline">Chciałbym dostać urlop w dniach :</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content layout="column" flex="100">

                            <div layout="row" flex="100">

                                <md-input-container class="md-block" flex="50">
                                    <label> Urlop od</label>

                                    <md-datepicker ng-model="Anns.Data" md-open-on-focus></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex="50">
                                    <label> Urlop do</label>
                                    <md-datepicker ng-model="Anns.Data" md-open-on-focus></md-datepicker>
                                </md-input-container>



                            </div>


                        </md-card-content>

                        <md-card-content>

                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>Podanie o urlop motywuję</label>
                                    <input style="width: 100%;" ng-model="" required />
                                </md-input-container>
                            </div>


                        </md-card-content>




                        <div style="float: right;" layout="row">
                            <md-button style="margin-top: 15px; " type="submit" value="Create" ng-click="">
                                <md-icon>done</md-icon>
                                <label>Wyślij</label>
                            </md-button>

                            <a class="nav__item" href="#home">
                                <md-button>
                                    <md-icon>clear</md-icon>
                                    <label class="create__clear">Anuluj</label>
                                </md-button>
                            </a>
                        </div>


                    </md-card>

                </div>
            </md-card-content>
        </form>



    <md-card-content layout="row" flex="100">


        <div class="panel" style="width: 100%;">
            <div style="background: #4CAF50; border: 1px solid #4CAF50; color: white; font-weight: 700;" class="panel-heading">
                <h3 style="font-weight: 700;"  class="panel-title">Lista urlopów Maj</h3>
            </div>
            <div style=" border: 1px solid #4CAF50;"  class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr style="text-align: center;">
                            <th ng-click="Sort('Name')">Imię</th>
                            <th ng-click="Sort('SurName')">Nazwisko</th>
                            <th class="tabela">1</th>
                            <th class="tabela">2</th>
                            <th class="tabela">3</th>
                            <th class="tabela">4</th>
                            <th class="tabela">5</th>
                            <th class="tabela">6</th>
                            <th class="tabela">7</th>
                            <th class="tabela">8</th>
                            <th class="tabela">9</th>
                            <th class="tabela">10</th>
                            <th class="tabela">11</th>
                            <th class="tabela">12</th>
                            <th class="tabela">13</th>
                            <th class="tabela">14</th>
                            <th class="tabela">15</th>
                            <th class="tabela">16</th>
                            <th class="tabela">17</th>
                            <th class="tabela">18</th>
                            <th class="tabela">19</th>
                            <th class="tabela">20</th>
                            <th class="tabela">21</th>
                            <th class="tabela">22</th>
                            <th class="tabela">23</th>
                            <th class="tabela">24</th>
                            <th class="tabela">25</th>
                            <th class="tabela">26</th>
                            <th class="tabela">27</th>
                            <th class="tabela">28</th>
                            <th class="tabela">29</th>
                            <th class="tabela">30</th>
                            <th class="tabela">31</th>
                        </tr>
                    </thead>
                    <tbody>
                       <!-- <tr ng-repeat="us in users | filter:search | orderBy:key:AscOrDesc">-->

                        <tr>
                            <td>Damian</td>
                            <td>Rabczewski</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background:orange;"></td>
                            <td style="background:orange;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Kamil</td>
                            <td>Stoch</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background:orange;"></td>
                            <td style="background:orange;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Adam</td>
                            <td>Małysz</td>
                            <td></td>
                            <td style="background:orange;"></td>
                            <td style="background:orange;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Andrzej</td>
                            <td>Krzyk</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background:orange;"></td>
                            <td style="background:orange;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td style="background: green;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>


    </md-card-content>
</md-card>