


<div>
    <div layout="row" layout-align="space-around">
        <md-card flex="flex" flex-gt-sm="80" flex-gt-md="80">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d18864.52285835237!2d20.460370288336375!3d53.770523824474324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46e2792d071419c7%3A0x106a8126cf54c20f!2sOlsztyn!3m2!1d53.778422!2d20.4801193!4m5!1s0x46e27f375ab76763%3A0xf2ae572fd310f8fc!2sKortowo%2C+Olsztyn!3m2!1d53.755314999999996!2d20.4561325!5e0!3m2!1spl!2spl!4v1492019715231" frameborder="0" style="border:0" allowfullscreen></iframe>            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Dodaj nowe ogłoszenie</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="Form">
                    <div layout="row">

                        <md-input-container class="md-block" flex="100">
                                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Podaj date"
                                               md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate"></md-datepicker>
                        </md-input-container>

                        <md-input-container class="" flex="100">
                            <div>
                                <input type="time" placeholder="Podaj godzinę" />
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block" flex="100">
                            <label>Ilość miejsc</label>
                            <input type="text" name="slots"  required="" />
                            <div ng-messages="Form.slots.$error" role="alert" multiple="">
                                <div ng-message="slots" class="my-message">Podaj liczbę miejsc</div>
                            </div>
                        </md-input-container>

                    </div>

                     <div layout="row">

                        <md-input-conteiner class="md-block" flex="100">

                            <md-select  placeholder="Wybierz oddział" ng-model="user.state">
                                <md-option ng-repeat="dp in deps" value="{{dp.DepartmentId}}">
                                    {{dp.Name}}
                                </md-option>
                            </md-select>
                        </md-input-conteiner>


                        <md-input-container class="" flex="100">
                            <md-icon class="create__btn" style="font-size: 40px;">crop_rotate</md-icon>
                        </md-input-container>


                        <md-input-container class="md-block" flex="100">
                            <label>Adres końcowy</label>
                            <input type="text" name="koniec" ng-model="" required="" />
                            <div ng-messages="Form.koniec.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">Podaj adres końcowy</div>
                            </div>
                        </md-input-container>

                    </div>


                    <div layout="row">


                        <md-input-container class="md-block" flex="100">
                            <label>Punkty pośrednie</label>
                            <input type="text" name="place" ng-model="" />

                        </md-input-container>

                    </div>

                    <md-input-container class="md-block" flex="100">
                        <label>Uwagi</label>
                        <textarea ng-model="user.biography" md-maxlength="150" rows="3" md-select-on-focus></textarea>

                    </md-input-container>

                   

                    <div style="float: right;" layout="row">
                        <a class="nav__item" href="#announcement">
                            <md-button>
                                <md-icon>done</md-icon>
                                <label style="margin: 5px 0 0 10px;">Dodaj ogłoszenie</label>
                            </md-button>
                        </a>

                        <a class="nav__item" href="#home">
                            <md-button>
                                <md-icon>clear</md-icon>
                                <label class="create__clear" style="margin: 5px 0 0 10px;">Anuluj</label>
                            </md-button>
                        </a>
                    </div>

                </form>
            </md-card-content>
        </md-card>

    </div>
</div>