<div layout="row" flex="100">

    <div class="md-whiteframe-z3" layout="column" flex="20">
        <md-content>
            <md-list flex>
                <div style="margin-top: -10px;">
                    <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
                </div>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Damian Rabczewski
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar2.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Krzysztof Krzyk
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar3.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Jan Jarzyna
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar4.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Tadeusz Jankowski
                    </div>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Damian Rabczewski
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar2.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Krzysztof Krzyk
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar3.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Jan Jarzyna
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar4.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Tadeusz Jankowski
                    </div>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Damian Rabczewski
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar2.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Krzysztof Krzyk
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar3.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Jan Jarzyna
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar4.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Tadeusz Jankowski
                    </div>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Damian Rabczewski
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar2.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Krzysztof Krzyk
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar3.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Jan Jarzyna
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="null">
                    <img src="Views/Employee/src/avatar4.jpg" class="md-avatar" alt="ktos" />
                    <div>
                        Tadeusz Jankowski
                    </div>
                </md-list-item>
                <md-divider></md-divider>



        </md-content>
    </div>

    <div  style="margin-top: 20px;" layout="column" flex="25">
        <md-card class="employee__box" style="padding: 5px;">
                    <img  src="Views/Employee/src/avatar.jpg" class="employee__avatar md-avatar" alt="ktos" />
                 
                <div class="employee__login">
                    <div class="employee__dot"></div>

                    <span class="employee__status md-subhead">Zalogowany</span>
                </div>

            <div class="employee__trig">

            </div>


            <md-subheader class=" employee__header md-no-sticky">Dane osobowe</md-subheader>
            <md-list-item ng-click="null">
                <div>
                    Damian
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div>
                    Rabczewski
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div>
                    Pokój : 112
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div>
                    Stanowisko : Junior Web Developer
                </div>
            </md-list-item>
            <md-divider></md-divider>

        </md-card>

        <md-card >

            <md-subheader class=" employee__header md-headline">Dane kontaktowe</md-subheader>
            <md-list-item>
                <i class="employee__fa fa fa-skype" aria-hidden="true"></i>
                <div  layout="column">
                    <a class="employee__a" href="skype:sivy12_12?call">sivy12_12</a>
                   
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item >
                <i  class="employee__fa fa fa-envelope-o" aria-hidden="true"></i>
                <div  layout="column">
                    <a class="employee__a" href="mailto:Rabczewski.Damian@programisci.eu">Rabczewski.Damian@programisci.eu</a>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <i class="employee__fa fa fa-phone" aria-hidden="true"></i>
                <div layout="column">
                    <a class="employee__a" href="tel:785-524-548">785-524-548</a>
                    
                </div>
            </md-list-item>
            <md-divider></md-divider>

        </md-card>


    </div>



    <div  style="margin-top: 20px;" layout="column" flex="25">


        <md-card>

            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Aktualne">
                            <md-content class="md-padding">

                                <md-list-item ng-click="null">
                                    <div layout="column">
                                       Projekt Relion
                                    </div>
                                </md-list-item>
                                <md-list-item ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                       Projekt Biblioteka
                                    </div>
                                </md-list-item>

                            </md-content>
                        </md-tab>
                        <md-tab label="Archiwalne">
                            <md-content class="md-padding">

                                <md-list-item ng-click="null">
                                    <div style="color: lightgray;" class="md-list-item-text" layout="column">
                                       Projekt Relion
                                    </div>
                                </md-list-item>

                            </md-content>
                        </md-tab>
                        </md-tabs>
                    </md-content>
                </div>


        </md-card>

        <md-card>

            <md-subheader class=" employee__header md-headline">Umiejętności</md-subheader>
            <md-list-item  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    Java
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    Angular
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item  ng-click="null">
                <div class="md-list-item-text" layout="column">
                    PHP
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div class="md-list-item-text" layout="column">
                    mySQL
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div class="md-list-item-text" layout="column">
                    motoryzacja
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="null">
                <div class="md-list-item-text" layout="column">
                    imprezy
                </div>
                <md-icon class="employee__btn">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>

        </md-card>


    </div>


    <div  style="margin-top: 20px;" layout="column" flex="30">



        <md-card>

            <md-subheader class=" employee__header md-headline">Czas pracy</md-subheader>
            <table class="table" >
                <thead>
                    <tr>
                        <th>Dzień</th>
                        <th>Praca od</th>
                        <th>Praca do</th>
                        <th>Godziny</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26.04.2017</td>
                        <td>7:00</td>
                        <td>17:00</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>22.04.2017</td>
                        <td>9:00</td>
                        <td>17:00</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>20.04.2017</td>
                        <td>10:00</td>
                        <td>17:00</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>18.04.2017</td>
                        <td>9:00</td>
                        <td>17:00</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>17.04.2017</td>
                        <td>10:00</td>
                        <td>17:00</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>16.04.2017</td>
                        <td>7:00</td>
                        <td>17:00</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>12.04.2017</td>
                        <td>7:00</td>
                        <td>17:00</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
            <md-divider></md-divider>
            <div layout="row">
                <div style="padding-left: 10px;" layout="column" flex="75">
                    Razem :
                </div>
                <div style="padding-left: 10px;" layout="column" flex="25">
                    120
                </div>
            </div>

            <md-card-action>
                <md-button>
                    Urlop
                </md-button>

                <md-button>
                    Zmień czas
                </md-button>

                <md-button>
                    Zwolnienie
                </md-button>
            </md-card-action>

        </md-card>


    </div>


</div>